<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Les choses à faire</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <ul>
            <li><a href="/datetime">/datetime</a></li>
            <li><a href="/prettydatetime">/prettydatetime</a></li>
            <li><a href="/inscription-sans-precaution">/inscription (sans précaution)</a></li>
            <li><a href="/inscription">/inscription</a></li>
            <li><a href="/validation">/validation</a></li>
        </ul>
    </body>
</html>
