<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Filtration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
    <body>
        <h1>Formulaire de recherche</h1>
        <form th:object="${filter}" method="post">
            <table>
                <tr>
                    <td>Nom</td>
                    <td><input type="text" th:field="*{nom}" /></td>
                </tr>
                <tr>
                    <td>Age mini</td>
                    <td><input type="text" th:field="*{min}" /></td>
                </tr>
                <tr>
                    <td>Age maxi</td>
                    <td><input type="text" th:field="*{max}" /></td>
                </tr>
                <tr>
                    <td><button type="submit">Submit</button></td>
                </tr>
            </table>
        </form>
    </body>
</html>