<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head></head>
    <body> <h1 th:text="#{Action interdite}"/>
    <div id="log" class="container">
        <div class="pull-left">
            <div class="row">
                <div class="col-sm">
                    <ul class="nav nav-link">
                        <li class="nav-item">
                            <a th:text="#{Logout}" th:href="@{/logout}" />
                        </li>
                        <li class="nav-item">
                            <a th:text="#{Accueil}" th:href="@{/}" />
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </body>

</html>
