<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <body>       
        <!-- # V0.1 Pour que thymeleaf tienne compte de l'internationalisation, 
        il suffit d'utiliser th:text="#{<CLE>}", où <CLE> est une clé du fichier
        "messages.properties", dans tout noeud html qui affiche du texte.
        Le texte sera celui dans la langue locale associé à cette clé.
        Par exemple, <h1 ... ci-dessous affiche Bienvenue ! ou Welcome! selon
        la localisation.
        -->
        <h1 th:text="#{BIENVENUE !}">Bienvenue !</h1>
        <p ><span th:text="#{CLIQUEZ}">Cliquez</span><a th:href="@{/customer}" th:text="#{ICI}">ici</a><span th:text="#{POUR VOIR LES CLIENTS}"> pour voir les clients</span></p>
    </body>
</html>