<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head></head>
    <body>
        <div class="container">
            <h1>Anciens</h1>
            <ul>
                <li th:each="ancien : ${anciens}" th:text="${ancien}"></li>
            </ul>
            <!--<form th:object="${operations}" method="post">
                <p>
                <select th:field="*{selectedOp}" id="operation">
                    <option th:value="null" th:text="#{Vide}">Vide</option>

                    <option th:each="operation : *{listOp}" th:value="${operation}" th:text="${operation.name}"></option>
                </select>
                <input id="name" type="text" th:field="*{operand}"/>
                </p>
                <button th:text="#{Valider}" type="submit" class="btn btn-success">Valider</button>
                <a th:text="#{Fermer}" th:href="@{/calcul}">Fermer</a>
            </form>-->   
        </div>
    </body>
</html>

    