<!-- V0.2 Ce fragment contient une sorte de menu pour changer de localisation.
Il pourra être inclus dans des pages.
-->
<!-- V0.2 th:href permet de rajouter ?lang=en ou ?lang=fr selon le lien cliqué.
L'url est intercepté par un "resolveur" déclaré dans fr.miage.config.SpringWebConfig
-->
<!--<a th:style="${#strings.equals(#locale.language,'en')} ? 'font-weight: bold;' : 'font-weight: normal;'" th:text="${#strings.equals(#locale.language,'en')} ? '&#9745; English' : '&#9744; English'" th:href="@{?lang=en}">English</a>
<br>
<a th:style="${#strings.equals(#locale.language,'fr')} ? 'font-weight: bold;' : 'font-weight: normal;'" th:text="${#strings.equals(#locale.language,'fr')} ? '&#9745; Français' : '&#9744; Français'" th:href="@{?lang=fr}">Français</a>
-->
<div id="lang" class="container">
    <div class="pull-right">
         <div class="row">
            <div class="col-sm">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a th:class="${#strings.equals(#locale.language,'en')} ? 'nav-link active' : 'nav-link'" th:href="@{?lang=en}">English</a>
                    </li>
                    <li class="nav-item">
                        <a th:class="${#strings.equals(#locale.language,'fr')} ? 'nav-link active' : 'nav-link'" th:href="@{?lang=fr}">Français</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- V1.0 Un menu pour basculer entre "CLients" et "Catégories" -->
<div id="cus-cat" class="container">
    <div class="row">
        <div class="col-sm">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <!-- V1.0 Pour sélectionner l'onglet actif #httpServletRequest donne l'uri actuelle 
                    et #strings.startsWith(...) permet de manipuler des chaînes de caractères
                    -->
                    <a th:href="@{/customer}" th:text="#{Clients}" th:class="${#strings.startsWith(#httpServletRequest.requestURI, '/customer')} ? 'nav-link active' : 'nav-link'" />
                </li>
                <li class="nav-item">
                    <a th:href="@{/category}" th:text="#{Categories}" th:class="${#strings.startsWith(#httpServletRequest.requestURI, '/category')} ? 'nav-link active' : 'nav-link'" />
                </li>
            </ul>
        </div>	
    </div>
</div>
