<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
    <display-name>Une application Web</display-name>
    <servlet>
        <servlet-name>Controleur</servlet-name>
        <servlet-class>fr.miage.controleurs.ControleurPrincipal</servlet-class>        
    </servlet>
    <servlet-mapping>
        <servlet-name>Controleur</servlet-name>
        <url-pattern>/controleur-principal</url-pattern>
    </servlet-mapping>
</web-app>
