.directory
target/
.settings
.classpath
.project
.metadata
.recommenders
*.iml
**/target/
*.aux
*.log
*.out
*.gz
/CorrectionCustomerCategory-V1.2/nbproject/
/CorrectionCustomerCategory-V2.2/nbproject/
/CorrectionCustomerCategory-V3.0/nbproject/