<!DOCTYPE html>
<html>
    <head>
        <title>Bonne visite</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Bienvenue</h1>
        <ul>
            <li><a href="/datetime">/datetime</a></li>
            <li><a href="/prettydatetime">/prettydatetime</a></li>
            <li><a href="/inscription">/inscription</a></li>
            <li><a href="/validation">/validation</a></li>
            <li><a href="/person/list">/person/list</a></li>
            <li><a href="/person/add">/person/add</a></li>
            <li><a href="/person/filter">/person/filter</a></li>
        </ul>
    </body>
</html>
