<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Inscription</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Donner nom et âge pour s'inscrire</h1>
        <form th:object="${person}" method="post">
    	<p>Nom <input type="text" th:field="*{name}" /><span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"/></p>
        <p>Âge <input type="text" th:field="*{age}" /><span th:if="${#fields.hasErrors('age')}" th:errors="*{age}"/></p>
        <p><input type="submit" value="S'inscrire" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>