<!-- V0.2 Ce fragment contient une sorte de menu pour changer de localisation.
Il pourra être inclus dans des pages.
-->
<!-- V0.2 th:href permet de rajouter ?lang=en ou ?lang=fr selon le lien cliqué.
L'url est intercepté par un "resolveur" déclaré dans fr.miage.config.SpringWebConfig
-->
<a th:style="${#strings.equals(#locale.language,'en')} ? 'font-weight: bold;' : 'font-weight: normal;'" th:text="${#strings.equals(#locale.language,'en')} ? '&#9745; English' : '&#9744; English'" th:href="@{?lang=en}">English</a>
<br>
<a th:style="${#strings.equals(#locale.language,'fr')} ? 'font-weight: bold;' : 'font-weight: normal;'" th:text="${#strings.equals(#locale.language,'fr')} ? '&#9745; Français' : '&#9744; Français'" th:href="@{?lang=fr}">Français</a>
 
