<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Liste de tout le monde</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Tous les inscrits</div>
        <ol>
            <li th:each="person: ${persons}" th:text="${person}"/>
        </ol>
    </body>
</html>
